<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>APay</title>
<!-- plugins:css -->
<link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
<link href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">

<!-- endinject -->
<!-- inject:css -->
<link rel="stylesheet" href="css/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="images/favicon.png" />
<style>
  .wrong {
    border-bottom-color: red;
  }
  #upload-photo {
      opacity: 0;
      position: absolute;
      z-index: -1;
  }
</style>
</head>
<body>
  <!-- dialogs  -->
  <!-- edit&add snappay account  -->
  <div class="modal fade" id="editHongtuAccount" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="editHongtuAccount" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content card" style="background-color:#fff; border-radius:0.3125rem">
        <div class="modal-header">
          <h5 class="card-title" id="exampleModalLabel">设置</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
          <!--merchant_no:'901800000116', app_id:'9f00cd9a873c511e', key:'7e2083699dd510575faa1c72f9e35d43', supportedCurrency:'CAD'-->
          <div class="card-body">
            <div class="form-group">
              <label for="name">name</label>
              <input type="text" class="form-control" id="name" placeholder="name">
              <label for="api">支付网关</label>
              <input type="text" class="form-control" id="api" placeholder="url">
              <label for="memberid">商户ID</label>
              <input type="text" class="form-control" id="memberid" placeholder="memberid">
              <label for="key">APILKEY</label>
              <input type="text" class="form-control" id="key" placeholder="APIKEY">
            </div>
            <div class="form-group">
              <div class="form-check form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" id="enable" for="enable" checked>可用<i class="input-helper"></i>
                </label>
              </div>
              <button type="button" id="adjustHongtuAccount" class="btn btn-gradient-primary mr-2" data-dismiss="modal">Submit</button>
              <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include partials/_navbar.html %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <%- include partials/_sidebar.html %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="fab fa-alipay"></i>
              </span>
              鸿途账号
            </h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">四方平台</a></li>
                <li class="breadcrumb-item active" aria-current="page">鸿途账号管理</li>
              </ol>
            </nav>
          </div>
          <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">账户</h4>
                      <div class="buttons-toolbar">
                        <form class="form-inline" id="params">
                          <button type="button" class="btn btn-sm btn-secondary mr-2" id="newOne"><i class="mdi mdi-account-plus"></i></button>
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text bg-secondary text-white"><i class="mdi mdi-account-box"></i></span>
                            </div>
                            <input type="text" class="form-control mr-sm-2" placeholder="商户" name="name">
                          </div>
                          <div class="form-group">
                            <a class="btn btn-sm btn-secondary" style="width:80px" href="javascript:getlist();"><i class="mdi mdi-magnify"></i></a>
                          </div>
                        </form>     
                      </div>
                      <div class="table-responsive">
                      <table class="table table-hover" id="accounts"
                        data-classes="table-no-bordered table-hover"
                        data-toggle="table"
                        data-side-pagination="server"
                        data-pagination="true"
                        data-show-refresh="true"
                        data-show-columns="true"
                        data-show-pagination-switch="true"
                        data-buttons-class=" btn-sm btn-secondary"
                        data-url="pvd/hongtu/listAccounts"
                        data-toolbar=".buttons-toolbar"
                        data-response-handler="formatRes"
                        data-row-style="handleDisable">
                        <thead>
                            <th data-field="name" data-sortable="true">
                              name
                            </th>
                            <th data-field="api" data-sortable="true" data-visible="true">
                              接口地址
                            </th>  
                            <th data-field="memberid" data-sortable="true" data-visible="true">
                              商户ID
                            </th>  
                            <th data-field="key" data-sortable="false" data-visible="true">
                              APIKEY
                            </th>
                            <th data-field="createTime" data-sortable="true" data-formatter="timestring" data-visible="false">
                              创建时间
                            </th>
                            <th data-field="daily" data-sortable="true" data-formatter="showincoming">净收入(日/总)</th>
                            <th data-field="gross.daily" data-sortable="true" data-formatter="showGrossIncoming">毛收入(日/总)</th>
                            <th data-field="succrate" data-sortable="true">成功率</th>
                            <th data-field="" data-formatter="showop" data-min-width="130">
                              操作
                            </th>
                        </thead>
                        <tbody id="list">
                        </tbody>
                      </table>
                    </div>
                    </div>
                  </div>
                </div>
          </div>
          <div class="row">
          </div>
          <div class="row">
          </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <%- include partials/_footer.html %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/base.js"></script>
  <script src="js/ejs.js"></script>
  <script src="js/admin.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
  <!-- End custom js for this page-->
</body>
<script>
  $('#newOne').click((e)=>{
    e.preventDefault();
    e.stopPropagation();
    $('#editHongtuAccount').modal();
  })
  $('#uploadMultiple').click((e)=>{
    e.preventDefault();
    e.stopPropagation();
    $('#addMultiSnapPayAccounts').modal();
  })
  $('#editHongtuAccount').on('shown.bs.modal', function (e) {
    $('#editHongtuAccount form input, textarea').val('');
    var idx=$(e.relatedTarget).data('id');
    if (idx==null) {
      $('#editHongtuAccount #exampleModalLabel').text('新增');
    } else $('#editHongtuAccount #exampleModalLabel').text('设置');
    var account=$('#accounts').bootstrapTable('getData', {useCurrentPage:true})[idx];
    if (account) {
        for (var key in account) {
            if (key=='_id' || key=='enable') continue;
            $('#'+key).val(account[key]);
        }
        $('#enable').prop('checked', !account.disable);
    } else {
        $('#enable').prop('checked', true);
    }
    $('#adjustHongtuAccount').off('click').click(function(e) {
      var params={};
      $('#editHongtuAccount form input, textarea').each(function(idx, ele) {
        var je=$(ele), jv=je.val();
        if (ele.id=='enable') {
          params.disable=!ele.checked;
        } else{
            if (jv=='') return true;
            params[ele.id]=jv.trim();
        }
      });
      if (account) params._id=account._id;
      accIntf('/pvd/hongtu/updateAccount', params, err=>{
        if (err) return showerr(err);
        getlist();
      });
    })
  });

  function getlist() {
    var allclear=true, querys={};
    $('#params input').each(function(idx, ele) {
      var je=$(ele), jv=je.val();
      if (ele.name=='dates') {
        var drp=$('input[name="dates"]').data('daterangepicker');
        querys.from=drp.startDate._d;
        querys.to=drp.endDate._d;
      }
      else querys[ele.name]=jv.trim();
    });
    $('#accounts').bootstrapTable('refresh', {query:querys});
  }
  function showop(value, record, rowIndex) {
    return `<button type="button" style="display:inline" class="btn btn-icon-sm btn-outline-primary" data-toggle="modal" data-target="#editHongtuAccount" data-id="${rowIndex}"><i class="mdi mdi-key-change"></i></button>
            <button type="button" style="display:inline" class="btn btn-icon-sm btn-outline-secondary" onclick="javascript:remove('${record._id}')"><i class="mdi mdi-delete-forever"></i></button>
          `
  }
  function showincoming(value, record) {
    return `${value||0}/${record.total||0}`;
  }
  function showGrossIncoming(value, record) {
    return `${value||0}/${record.gross?(record.gross.total||0):0} `;
  }
  function formatRes(res) {
    if (res.err) return alert(res.err);
    res.rows.forEach((record)=>{
      // record.app_id=record._id;
      // record.log=record.log||{};
      // var fails=[];
      // for (var name in record.log) {
      //     if (name='success') continue;
      //     fails.push({name:name, v:record.log[name]});
      // }
      // var failstr='';
      // if (fails.length) {
      //     fails.sort((a,b)=>{return a.v-b.v});
      //     for (var i=0; i<fails.length; i++) {
      //         failstr+=fails[i].name+':'+fails[i].v+' ';
      //     }
      // }
      // record.failstr=failstr;
    })
    return res;
  }
  function remove(_id) {
      accIntf('/pvd/hongtu/removeAccount', {_id:_id}, err=>{
          if (err) return alert(err);
          getlist();
      });
  }
  function handleDisable(row, idx) {
    if (row.disable) return {css:{color:'grey', 'text-decoration':'line-through'}}
    return {};
  }
</script>
</html>
