<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>APay</title>
<!-- plugins:css -->
<link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- inject:css -->
<link rel="stylesheet" href="css/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="images/favicon.png" />
<style>
  .wrong {
    border-bottom-color: red;
  }
</style>
</head>
<body>
  <!-- dialog  -->
  <div class="modal fade" id="editMerchant" tabindex="-1" role="dialog" aria-labelledby="editMerchant" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content card" style="background-color:#fff; border-radius:0.3125rem">
        <div class="modal-header">
          <h5 class="card-title" id="exampleModalLabel">设置</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
          <div class="card-body">
            <p class="card-description">
              以下所有内容不填不作修改
            </p>
            <div class="form-group">
              <label for="password">重设密码</label>
              <input type="text" class="form-control" id="password" placeholder="新密码">
              <label for="key">重设key</label>
              <div class="input-group">
                <input type="text" class="form-control" id="key" placeholder="点按后面的按钮生成新key">
                <span for="key" class="input-group-append">
                  <button class="btn btn-gradient-primary" type="button" onclick="javascript:$('#key').val(randstring(24))">生成</button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend"><span for="fee" class="input-group-text bg-gradient-info text-white">手续费</span></div>
                <input type="text" class="form-control" id="fee" placeholder="1.5%">
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-prepend"><span for="parent" class="input-group-text bg-gradient-info text-white">上级</span></div>
                <input type="text" class="form-control" id="parent" placeholder="上级代理id">
              </div>
            </div>
            <div class="form-group">
              <p class="card-description">提供商(otc平台)</p>
              <div class="form-group" id="providers">
              </div>
              <button type="button" id="adjustMerchant" class="btn btn-gradient-primary mr-2" data-dismiss="modal">Submit</button>
              <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
    
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include partials/_navbar.html %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <%- include partials/_sidebar.html %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              商户
            </h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">账号</a></li>
                <li class="breadcrumb-item active" aria-current="page">商户账号</li>
              </ol>
            </nav>
          </div>
          <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">商户</h4>
                      <p class="card-description">
                        <a class="text-muted" href="javascript:showAddacc();">点击此处添加</a>
                      </p>
                      <div class="col-12 grid-margin" style="display:none" id="addUser">
                          <div class="card">
                            <div class="card-body">
                              <form class="form-inline" id="addacc" action="#">
                                <label class="sr-only" for="inlineFormInputName2">Name</label>
                                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="name" placeholder="姓名">
                                <label class="sr-only" for="inlineFormInputGroupUsername2">账号</label>
                                <div class="input-group mb-2 mr-sm-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="mdi mdi-account-plus mdi-lg"></i></div>
                                  </div>
                                  <input type="text" class="form-control" id="inlineFormInputGroupUsername2" name="account" placeholder="账号">
                                </div>
                                <label class="sr-only" for="inlineFormInputName2">Password</label>
                                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="password" placeholder="密码">
                                <input type="hidden" name="identity" value="merchant">
                                <button class="btn btn-gradient-primary mb-2" type="submit">Submit</button>
                                <button type="button" class="btn btn-light mb-2" style="margin-left:10px" onclick="javascript:$('#addUser').hide()">Cancel</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>
                              姓名
                            </th>
                            <th>
                              账号
                            </th>
                            <th>
                              创建时间
                            </th>
                            <th>
                              权限
                            </th>
                            <th>key</th>
                            <th>merchantid</th>
                            <th>调试</th>
                            <th>
                              操作
                            </th>
                            </tr>
                        </thead>
                        <tbody id="list">
                        </tbody>
                      </table>
                    </div>
                    </div>
                  </div>
                </div>
          </div>
          <div class="row">
          </div>
          <div class="row">
          </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <%- include partials/_footer.html %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <script src="js/base.js"></script>
  <script src="js/ejs.js"></script>
  <script src="js/admin.js"></script>
  <!-- End custom js for this page-->
</body>
<script>
  function randstring(len) {
    var s='', len=len||7;
    while (s.length<len) {
      s+=Math.random().toString(36).substring(2)
    }
    return s.substring(0, len);
  }
  function showAddacc() {
    var f=$('#addacc input');
    for (var i=0; i<f.length; i++) {
      var item=f[i];
      if (item.type!='hidden') item.value='';
      $(item).removeClass('wrong');
    }
    $('#addUser').toggle();
  }

  var providers=$('#providers');
  
  $('#editMerchant').on('shown.bs.modal', function (e) {
    $('#editMerchant form input').val('');
    var id=$(e.relatedTarget).data('id');
    var merchant=acclist.find((ele)=>{return ele._id==id});
    if (merchant) {
      providers && accIntf('/admin/providers', (err, ret) =>{
        if (err) return showerr(err);
        providers.empty();
        var allp=ret.message;
        merchant.providers=merchant.providers||{};
        for (var i=0; i<allp.length; i++) {
          var activedProvider=merchant.providers[allp[i].id];
          providers.append(`
          <div class="form-check form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" ${(activedProvider && !activedProvider.disabled)?'checked':''} id="providers.${allp[i].id}" for="provider">
              ${allp[i].name||allp[i].id}
            <i class="input-helper"></i></label>
            ${allp[i].params?(()=>{
              var ret='';
              for (var j=0; j<allp[i].params.length; j++) {
                var p=allp[i].params[j];
                ret+=`<div class="input-group"><div class="input-group-prepend"><span class="input-group-text">${p}</span></div><input class=" form-control" placeholder="${(activedProvider && activedProvider[p])||'必填'}" id="providers.${allp[i].id}.${p}"></div>`
              }
              return ret;
            })():''}
          </div>
          `)
        }
      })
      $('#fee').attr("placeholder", ''+((1-merchant.share)*100).toFixed(2)+'%');
      $('#parent').attr('placeholder', merchant.parent);
    }
    $('#adjustMerchant').off('click').click(function(e) {
      var params={};
      $('#editMerchant form input').each(function(idx, ele) {
        var je=$(ele), jv=je.val();
        if (jv=='') return;
        if (ele.id=='fee') {
          var s=jv.trim(), v=parseFloat(s);
          if (isNaN(v)) return;
          params.share=(1-(v/100)).toFixed(5);
        } else if (je.attr('for')=='provider') {
          params[ele.id+'.disabled']=!ele.checked;
        } else params[ele.id]=jv;
      });
      params.id=id;
      accIntf('/admin/updateAccount', params, err=>{
        if (err) return showerr(err);
        getlist();
      });
    })
});
  
</script>
</html>
