<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>APay</title>
<!-- plugins:css -->
<link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- inject:css -->
<link rel="stylesheet" href="css/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include partials/_navbar.html %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <%- include partials/_sidebar2.html %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>                 
              </span>
              总览
            </h3>
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  <span></span>Overview
                  <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                </li>
              </ul>
            </nav>
          </div>
          <div class="row">
            <div class="col-md-6 stretch-card grid-margin">
              <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body">
                  <img src="images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
                  <h4 class="font-weight-normal mb-3">总流水
                    <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                  </h4>
                  <h2 class="mb-5">¥ <spna id='totalIncome'>--</spna></h2>
                  <h6 class="card-text">已到账<span id='arrivaled'>--</span></h6>
                </div>
              </div>
            </div>
            <div class="col-md-6 stretch-card grid-margin">
              <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                  <img src="images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                  
                  <h4 class="font-weight-normal mb-3">总订单
                    <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                  </h4>
                  <h2 class="mb-5"><span id="totalOrders">--</span></h2>
                  <h6 class="card-text"><span id="totalOrdersChanging">Decreased by 10%</span></h6>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">
                  <img src="images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                                    
                  <h4 class="font-weight-normal mb-3">已到账
                    <i class="mdi mdi-diamond mdi-24px float-right"></i>
                  </h4>
                  <h2 class="mb-5"><span id="arrivaled">--</span></h2>
                  <h6 class="card-text"><span id="merchantCountChanging">Increased by 5%</span></h6>
                </div>
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="clearfix">
                    <h4 class="card-title float-left">Visit And Sales Statistics</h4>
                    <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>                                     
                  </div>
                  <canvas id="visit-sale-chart" class="mt-4"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-5 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Traffic Sources</h4>
                  <canvas id="traffic-chart"></canvas>
                  <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>                                                      
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">充值订单</h4>
                    <div class="table-responsive">
                      <table class="table" id="orderlist">
                        <thead>
                          <tr>
                            <th>
                              商户
                            </th>
                            <th>
                              商户单号
                            </th>
                            <th>
                              提供商
                            </th>
                            <th>
                              提供商单号
                            </th>
                            <th>
                              创建时间
                            </th>
                            <th>
                              状态
                            </th>
                            <th>
                              改变时间
                            </th>
                            <th>
                              操作
                            </th>        
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <%- include partials/_footer.html %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <script src="js/base.js"></script>
  <!-- End custom js for this page-->
</body>
<script>
function timestring(t) {
  return new Date(t).toLocaleDateString()+' '+ new Date(t).toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1");;
}
function formatBigNumber(s) {
  return (''+s).replace(/(?=(?!^)(?:\d{4})+(?:\.|$))(\d{4}(\.\d+$)?)/g,',$1');
}
function statusHtmlfy(s) {
  if (s=='created') return `<label class="badge badge-gradient-info">创建</label>`;
  if (s=='completed') return `<label class="badge badge-gradient-success">完成</label>`
  if (s.indexOf('failed')>=0 ||s.indexOf('失败')>=0) return `<label class="badge badge-gradient-danger">${s}</label>`
  return `<label class="badge badge-gradient-warning">${s}</label>`
}
function forceconfirm(orderid) {
  accIntf('/admin/confirmOrder', {orderid:orderid}, (err)=>{
    if (err) return showerr(err);
    refreshOrderList()
  });
}
function sendNotify(orderid) {
  accIntf('/admin/notifyMerchant', {orderid:orderid}, (err)=>{
    if (err) return showerr(err);
    refreshOrderList()
  });
}
function refreshOrderList() {
  accIntf('/admin/listOrders', {count:10}, function(err, data) {
    var p=$('#orderlist tbody');
    if (err) p.append('<tr><td colspan="9999">'+errstr(err)+'</td></tr>');
    var list=data.message;
    for (var i=0; i<list.length; i++) {
      var o=list[i];
      var htmlstr=`<tr><td>${o.mername}<td>${o.merchantOrderId}<td>${o.provider||''}<td>${o.providerOrderId||''}<td>${timestring(o.time)}<td>${statusHtmlfy(o.status)}<td>${timestring(o.lasttime)}<td><button class="btn btn-outline-primary btn-icon-sm" title="重发通知" onclick="javascript:sendNotify('${o._id}')"><i class="mdi mdi-replay"></i></button>`;
      if (me.acl=='admin') htmlstr+=`<button style="margin-left:5px" class="btn btn-outline-danger btn-icon-sm" title="强制结单" onclick="javascript:forceconfirm('${o._id}')"><i class="mdi mdi-archive"></i></button>`;
      htmlstr+='</tr>'
      p.append(htmlstr);
    }
    p.append(`<tr><td colspan="999999"><a href="./fromuserlist.html" style="float:right;margin-right:45px">more</a></td><tr>`)
  })
}
window.initpage=()=>{
  accIntf('/merchant/balance', function(err, data) {
    $('#totalIncome').text(formatBigNumber(data.total));
    $('#arrivaled').text(formatBigNumber(data.arrivaled));
    $('#totalOrders').text(formatBigNumber(data.orders||0));
  });
  refreshOrderList();
}
  
</script>
</html>
