.assets_center {
	position: relative;
	padding-top: 20px;
}
.coin_menu{
   float: left;
    width:246px;
    overflow:hidden;
    background-color: #f7f7f7;
}
.w900 {
    width: 910px
}
.assets_content{
	margin-left: 34px;
	background-color: #f7f7f7;
    min-height: 630px;
}
.assets_content .safe_center {
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #3dc1ff;
    margin:0 16px;
    margin-top: 10px;
}
.assets_content .safe_center h1 {
	font-size: 18px;
	padding-left: 20px;
    color: #4e4c4c;
}
.coin_list .coin_name{
    float:left;
    padding-top:17px;
    line-height:24px;
    width:74px;
    overflow:hidden;
    text-align: center;
}
.coin_list dd input{
    webkit-transition:0.3s ease all;
    transition:0.3s ease all;
    -o-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -ms-transition:0.3s ease all;
    color:#e66423;
    border:1px solid #e55600;
    border-radius:3px;
    width:90px;
    height:30px;
    margin-top:20px;
    background:none;
}

.coin_menu_box{
}
.coin_menu_box a {
    color: #4e4c4c;
}
.coin_menu ul, .coin_menu dl{
}
.coin_menu li, .coin_menu dt{
    padding:0 30px;
    height:42px;
    line-height:42px;
    overflow:hidden;
}
.coin_menu dt{
    padding-left:22px;
}
.coin_menu li.active {
    background-color: rgba(12, 128, 247, .1);
}
.coin_menu .active a,.coin_menu .here a {
    color: #3498DB;
}
.coin_style_box {
   margin-bottom: 20px;
   padding-left: 60px;
   margin-top: 24px;
}
.coin_style_box ul {
	height: 40px;
	line-height: 40px;
}
.coin_style_box li {
    width: 181px;
    float: left;
    color: #333;
    font-size: 14px;
    overflow: hidden
}
.coin_style_box li img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-size: contain;
}
.coin_list_top {
    height: 42px;
    border-bottom: 2px solid #3dc1ff;
    margin-left: 24px;
    margin-right: 24px;
    line-height: 42px
}
.coin_list_top li {
    float: left;
    width: 150px;
    text-align: center;
}
.coin_list_top li:nth-child(1){
	width: 170px;
}
.coin_list_top li:last-child{
	width: 90px;
}
.coin_list {
    width: 100%
}
.coin_list li {
    width: 100%;
    height: 70px;
    line-height: 70px
}
.coin_list dt,.coin_list dd {
    float: left;
    width: 150px;
    text-align: center;
}
.coin_list dt,.coin_list dd:last-child{
	width: 90px;
}
.coin_list dt {
    padding-left: 20px;
    width: 170px;
    overflow: hidden
}
.coin_list .coin_pic {
    float: left;
    width: 40px;
    height: 40px;
    padding-top: 13px;
}
.coin_list dd input {
    webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    color: #3dc1ff;
    border: 1px solid #3dc1ff;
    border-radius: 3px;
    width: 90px;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
    background: none
}
.mytips{
    background:#FEFBF1;
    border:1px solid #fec2b7;
    padding:10px 12px 10px;
    color:#e55600;
    text-align:left;
    font-size:12px;
    border-radius:5px;
    margin: 14px 15px 0px;
}
.mytips h6{
    font-size:14px;
    line-height:2.4;
}
.w_div{
    margin-bottom:8px;
}
.w_div .w1{
    line-height:36px;
    float:left;
    margin-right:12px;
    text-align:right;
    width:126px;
    overflow: hidden;
}
#moble_verify {
    width: 100px;
}
.w_div .w2{
    float:left;
    text-align:left;
    line-height:36px;
    color:#999999;
    position: relative;
}
.w_div .w2 .num1{
    position: absolute;
    right: -146px;
    top: 0;
}
.w_div .w2 .random {
    position: absolute;
    right: 0;
    top: 0;
}
.w_div .w2 input {
	height: 38px;
	width:214px;
	 background-color:#ffffff;
    border:1px solid #cccccc;

}

select{
    width:100%;
    background-color:#ffffff;
    border:1px solid #cccccc;
    height:24px;
}
.w_div .w2 select {
	height: 38px;
}
.w2 .bank{
    width:680px;
    margin-right:-26px;
}
.w2 #bizhong{
    margin-top: 10px;
}
.f_table{
    border:1px solid #ededed;
    border-bottom:0;
    width:100%;
    border-collapse:collapse;
    border-spacing:0;
}
.f_table th{
    background:#ededed;
    font-weight:normal;
    height:36px;
    line-height:36px;
    text-align:center;
}
.f_table th #market-selectTest{
    width: 70%;
}
#status-selectTest {
    width: 70%;
}
.f_table td{
    padding:10px 0;
    border-bottom:1px solid #ededed;
    font-size:12px;
    color:#707070;
    text-align:center;
}
.f_table td a {
	color: #3dc1ff
}

.w2 .bank li{
    width:160px;
    height:46px;
    float:left;
    margin:0 10px 6px 0;
}
.w2 .bank li img{
    border:1px solid #ededed;
    border-radius:5px;
    cursor:pointer;
}
.w2 .bank li.current img{
    border:1px solid #55c931;
}
.cztxinput{

}
.qb_tishi {
    line-height: 24px;
    font-size: 12px;
    margin-bottom: 12px
}
.qb_dizhi {
    width: 82.5%;
    border: 1px solid #fcdbc8;
    background: #fffffa
}
.qb_dizhi p {
    font-size: 18px;
    color: #e55600;
    padding: 28px
}
.qb_dizhi .copy {
    float: left;
    width: 74px;
    height: 32px;
    border-radius: 3px;
    background: #e55600;
    color: #fff;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    margin-top: 23px
}
/** 充值银行*/
.choosepaymethod{
    margin:20px;
}
.paymethod{
    height:48px;
    line-height:48px;
    overflow:hidden;
}
.paymethod span{
    width:130px;
    height:47px;
    line-height:48px;
    border:1px solid #dddddd;
    float:left;
    display:block;
    margin-right:12px;
    cursor:pointer;
    font-weight:100;
    border-bottom:0;
    color:#666666;
}
.paymethod span.current{
    background:#ffffff;
    color:#333333;
    border-bottom:0;
    font-weight:700;
    height:48px;
    cursor:default;
}
.choosebanks{
}
.methodway{
}
.methodway ul, .nobindbank{
    width:100%;
    margin-bottom:18px;
    padding:8px 0;
    border:1px solid #dddddd;
    overflow:hidden;
}
.methodway li{
    width:180px;
    height:38px;
    float:left;
    margin:10px 32px;
}
.methodway li input[type=radio]{
    margin-right:8px;
    vertical-align:text-bottom;
    margin-bottom:13px;
    cursor:pointer;
}
.methodway li span{
    width:154px;
    height:38px;
    border:1px solid #ededed;
    display:inline-block;
    *display:inline;
    zoom:1;
    cursor:pointer;
}
.methodway li span.checked{
    border:2px solid #55c931;
}
.bindbanks{
    background:#fffbe6;
    border:1px solid #f5de71;
    text-align:left;
    margin:0 -11px;
    padding:10px 14px;
    line-height:1.6;
    overflow:hidden;
}
.bindbanks a{
    color:#ff8a00;
}
.morelimitknow{
    display:block;
    width:100%;
    height:100%;
    cursor:pointer;
    color:#999999;
}
.chongzhiTable td.tdmore{
    background:#f9f9f9;
    padding:0;
    height:38px;
    line-height:38px;
}
.getjiangli{
    position:absolute;
    top:-16px;
    right:0;
    width:100px;
    height:30px;
}
.getjiangli:hover{
    opacity:.8;
    filter:alpha(opacity=80);
}
.w_div .w2 .btn-cztx{
    width:200px;
    cursor:pointer;
    font-size:18px;
    background-color:#3dc1ff;
    border:0;
    color: #fff;
    border-radius: 3px;
}
.changebank{
    text-decoration:underline;
    margin-left:16px;
}
/*财务中心*/
.coin_menu_box .side-icon {
    padding-left: 40px;
    height: 48px;
    line-height: 48px;
   color: #505050;
   font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.coin_menu_box .side-icon .iconfont{
    margin-right: 10px;
    font-size: 20px;
     color: #3498DB;
     font-weight: normal;
}

.tab-content{
    margin-top: 30px;
}
.quink-wrap{
    float: left;
    margin-left: 44px;
    width: 400px;
}
#qrcode-wallet{
    float: right;
    margin-right: 86px;
}
.quicklink{
    margin-bottom: 20px;
}
.quicklink h4 {
    font-size: 18px;
    color: #55C931;
    font-weight: normal;
}
.quicklink p.tip {
    color: #999999;
    line-height: 1.4;
    margin-bottom: 14px;
    font-size: 12px;
}
.quicklink .area {
    background: #EDEDED;
    width: 200px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-radius: 8px;
    border:1px solid #C5C5BC;
}
.btn-quick {
    width: 90px;
    height: 40px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 16px;
    background-color: #4f94e7;
    border: none;
}
#invite-textarea{
   /* width: 350px;
    height: 100px;
    line-height: 18px;*/
}
.reward-share{

}
.reward-share span.icon.icon-sina {
    background-position: 0 0;
}
.reward-share span.icon.icon-douban {
    background-position: 0 -105px;
}
.reward-share a {
    display: inline-block;
    margin-right: 30px;
    text-align: center;
    font-size: 14px;
}
.reward-share span.icon.icon-qzone {
    background-position: 0 -175px;
}
.reward-share span.icon {
    background: url(/Public/Home/images/icon-share.png) -9999px -9999px no-repeat;
    width: 40px;
    height: 35px;
    display: block;
    margin: 0 auto;
}
.cnyin_record {
    margin: 0 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.cnyin_record h4 {
    line-height: 24px;
    font-size: 14px;
    color: #333;
    font-weight: normal;
    padding-left: 2px;
    margin-bottom: 18px
}
#qianbao_type{
    margin-top: 10px;
}
#myzc_type{
    margin-top: 10px;
}
/*新闻中心手机自适应*/

.slide-toggle{
    position: fixed;
    right: 0;
    top: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border:1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    z-index: 100;
    display: none;
    
}
@media (max-width: 768px) {
    .slide-toggle{
        display: block;
    }
    .side-content{
        position: fixed;
        top: 118px;
        right: 0;
        min-height: 650px;
        width: 300px;
        background-color: #fff;
        z-index: 99;
        display: none;
        /*transition: all 2s;*/
    }
    .assets_content {
        width: 100%;
        margin-left: 0;
    }
    /*财务自适应*/
    .coin_style_box{
        padding-left: 10px;
    }
    .coin_style_box li img {
        display: none;
    }
    .coin_style_box li {
        width: 100px;
    }
    .coin_style_box li.total-zi{
        display: none;
    }
    .coin_list_box{
        overflow-x: auto;
    }
    .coin-scroll-box{
        width: 910px;
    }
    .f_table{
        width: 1200px;
    }
    .f_body{
        width: 100%;
        overflow-x: auto;
    }
    .choosepaymethod {
        margin: 10px;
    }
    .w_div{
        width: 100%;
    }
    .w_div .w1 {
        width: 100px;
    }
    .w_div .w2 input{
        width: 108px;
    }
    .w_div .w2 .num1 {
    right: 54px;
    top: 22px;
    }
    .w_div .w2{
        float: none;
    }
    .w_div .w2 input {
    height: 30px;
    }
    .quink-wrap{
        width: 98%;
        margin-left: 10px;
        margin-right: 10px;
    }
    #qrcode-wallet{
    }
    .f_tab_body{
        overflow-x: scroll;
    }
    .f_table tbody {
        min-height: 300px;
    }
    .bizhong_select {
        width: 138px;
    }

}
   



