<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>APay</title>
<!-- plugins:css -->
<link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!-- endinject -->
<!-- inject:css -->
<link rel="stylesheet" href="css/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="images/favicon.png" />
<style>
  .wrong {
    border-bottom-color: red;
  }
</style>
</head>
<body>
  <!-- dialog  -->
    
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include partials/_navbar.html %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <%- include partials/_sidebar2.html %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              修改密码
            </h3>
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  <span></span>Password
                  <i class="mdi mdi-alert-octagon icon-sm text-primary align-middle"></i>
                </li>
              </ul>
            </nav>
          </div>
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                    <div class="form-group">
                      <label for="oldpassword">旧密码</label>
                      <input type="password" class="form-control" id="oldpass" placeholder="旧密码">
                      <label for="password">新密码</label>
                      <input type="password" class="form-control" id="password" placeholder="新密码">
                      <label for="password">重复新密码</label>
                      <input type="password" class="form-control" id="verifypassword" placeholder="">
                    </div>
                    <button type="button" id="adjustMerchant" class="btn btn-gradient-primary mr-2" onclick="changePass()">Submit</button>
                    <button type="button" class="btn btn-light">Cancel</button>      
                </div>
              </div>
            </div>
          </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <%- include partials/_footer.html %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/md5.js"></script>
  <script src="js/base.js"></script>
  <!-- End custom js for this page-->
  <!-- End custom js for this page-->
</body>
<script>
  function changePass() {
    if ($('#password').val()!=$('#verifypassword').val()) {
      alert('两次输入不一致');
      $('#password').val('');
      $('#verifypassword').val('');
      return;
    }
    accIntf('/admin/getSalt', {u:me._id}, function(err, ret) {
      var op=md5(ret.message+$('#oldpass').val());
      accIntf('/merchant/changePass', {op:op, np:$('#password').val()}, (err, r)=>{
        if (err) return alert(err);
        alert('修改成功');
      })
    })
  }

  $('.btn-light').click(()=>{
    $('.form-group input').val('');
  })

</script>
</html>
