<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->              
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2 username"></span>
          <span class="text-secondary text-small acl"></span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <% if (!forecoreOnly) { %>
    <li class="nav-item">
      <a class="nav-link" href="merentry.html">
        <span class="menu-title">总览</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="withdraw.html">
        <span class="menu-title">提款</span>
        <i class="mdi mdi-cash menu-icon"></i>
      </a>
    </li>
    <% } %>
    <li class="nav-item">
      <a class="nav-link" href="extrainfo.html">
        <span class="menu-title">联系人</span>
        <i class="mdi mdi-contact-mail menu-icon"></i>
      </a>
    </li>
    <% if (!forecoreOnly) { %>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-details" aria-expanded="false" aria-controls="ui-details">
        <span class="menu-title">明细</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
      <div class="collapse" id="ui-details">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="dailyreport.html">日报表</a></li>
          <li class="nav-item"> <a class="nav-link" href="fromuserlist.ae">充值订单</a></li>
          <li class="nav-item"> <a class="nav-link" href="tomerchantlist.ae">清帐订单</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="adapter.html">
        <span class="menu-title">对接</span>
        <i class="mdi mdi-human-greeting menu-icon"></i>
      </a>
    </li>   
    <% } else {%>
    <li class="nav-item">
      <a class="nav-link" href="fromuserlist.ae">
        <span class="menu-title">充值详单</span>
        <i class="mdi mdi-human-greeting menu-icon"></i>
      </a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="settlements.html">
        <span class="menu-title">结算清单</span>
        <i class="mdi mdi-human-greeting menu-icon"></i>
      </a>
    </li> 
    <% } %>
    <li class="nav-item">
      <a class="nav-link" href="changepassword.html">
        <span class="menu-title">修改密码</span>
        <i class="mdi mdi-alert-octagon menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
