<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>APay</title>
<!-- plugins:css -->
<link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
<link href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
<!-- endinject -->
<!-- inject:css -->
<link rel="stylesheet" href="css/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="images/favicon.png" />
<style>
  .wrong {
    border-bottom-color: red;
  }
</style>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include ../partials/_navbar.html %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <% if (acl=="admin"||acl=="manager") { %>
        <%- include ../partials/_sidebar.html %>
      <% } else { %>
        <%- include ../partials/_sidebar2.html %>
      <% } %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              充值订单
            </h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">明细</a></li>
                <li class="breadcrumb-item active" aria-current="page">充值订单</li>
              </ol>
            </nav>
          </div>
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">充值订单</h4>
                    <div class="buttons-toolbar">
                    </div>
                    <div class="table-responsive">
                      <table id="orderlist"
                        class="table table-hover"
                        data-classes="table-no-bordered table-hover"
                        data-pagination="true"
                        data-side-pagination="server"
                        data-pagination="true"
                        data-show-refresh="true"
                        data-show-columns="true"
                        data-show-pagination-switch="true"
                        data-page-size="25"
                        data-buttons-class=" btn-sm btn-secondary"
                        data-url="admin/listOrders"
                        data-toolbar=".buttons-toolbar"
                        data-sort-order="desc"
                        data-sort-name="time">
                         <thead>
                           <tr>
                             <th data-field="mername">
                               商户
                             </th>
                             <th data-field="merchantOrderId">
                               商户单号
                             </th>
                             <th data-field="provider" data-formatter="showProvider">
                               提供商
                             </th>
                             <th data-field="providerOrderId">
                               提供商单号
                             </th>
                             <th data-field="money">
                               金额
                             </th>
                             <th data-field="time" data-formatter="timestring" data-sort-order="desc" data-sortable="true">
                               创建时间
                             </th>
                             <th data-field="status" data-formatter="statusHtmlfy">
                               状态
                             </th>
                             <th data-field="lasttime" data-formatter="timestring">
                               改变时间
                             </th>
                             <th data-formatter="showOp">
                               操作
                             </th>
                           </tr>
                         </thead>
                       </table>
                    </div>  
                  </div>
                </div>
              </div>
          </div>
          <div class="row"></div>
          <div class="row"></div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <%- include ../partials/_footer.html %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/base.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
  <!-- End custom js for this page-->
</body>
<script>

function statusHtmlfy(s) {
  if (s=='created') return `<label class="badge badge-gradient-info">创建</label>`;
  if (s=='completed') return `<label class="badge badge-gradient-success">完成</label>`
  if (s.indexOf('failed')>=0 ||s.indexOf('失败')>=0) return `<label class="badge badge-gradient-danger">${s}</label>`
  return `<label class="badge badge-gradient-warning">${s}</label>`
}
function forceconfirm(orderid) {
  accIntf('/admin/confirmOrder', {orderid:orderid}, (err)=>{
    if (err) return showerr(err);
    refreshOrderList()
  });
}
function refund(orderid) {
  accIntf('/forecore/admin/refund', {orderid:orderid}, (err)=>{
    if (err) return showerr(err);
    refreshOrderList();
  })
}
function sendNotify(orderid) {
  accIntf('/admin/notifyMerchant', {orderid:orderid}, (err)=>{
    if (err) return showerr(err);
    refreshOrderList()
  });
}
function refreshOrderList() {
  $('#orderlist').bootstrapTable('refresh');
}
function showProvider(v) {
  return v||'unknown';
}
function showProviderOrderId(v, record) {
  return v||record.merchantOrderId;
}
function showOp(v, o) {
  var ret=`<button class="btn btn-outline-primary btn-icon-sm tooltipfy" title="重发通知" onclick="javascript:sendNotify('${o._id}')"><i class="mdi mdi-replay"></i></button>`;
  <% if (acl=='admin' || acl=='manager') { %>
    <% if (forecoreOnly) { %>
      ret+=`<button style="margin-left:5px" class="btn btn-outline-warning btn-icon-sm tooltipfy" title="退单" onclick="javascript:refund('${o._id}')"><i class="mdi mdi-send"></i></button>`
    <% } %>
    <% if (acl=='admin') { %>
    ret+=`<button style="margin-left:5px" class="btn btn-outline-danger btn-icon-sm tooltipfy" title="强制结单" onclick="javascript:forceconfirm('${o._id}')"><i class="mdi mdi-archive"></i></button>`;
    <% } %>
  <% } %>
  return ret;
}
window.initpage=()=>{
  $('#orderlist').bootstrapTable();
};
  
</script>
</html>
