<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>APay</title>
<!-- plugins:css -->
<link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
<link href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<!-- endinject -->
<!-- inject:css -->
<link rel="stylesheet" href="css/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="images/favicon.png" />
<style>
  .wrong {
    border-bottom-color: red;
  }
</style>
</head>
<body>
  <!-- dialog  -->
    
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include partials/_navbar.html %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <%- include partials/_sidebar.html %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              流水
            </h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">支付宝</a></li>
                <li class="breadcrumb-item active" aria-current="page">流水</li>
              </ol>
            </nav>
          </div>
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="buttons-toolbar">
                    <form class="form-inline" id="params">
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text bg-secondary text-white"><i class="mdi mdi-account-box"></i></span>
                        </div>
                        <input type="text" class="form-control mr-sm-2" placeholder="支付宝账号" name="account">
                      </div>
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text bg-secondary text-white"><i class="mdi mdi-calendar-today"></i></span>
                        </div>
                        <input type="text" class="form-control mr-sm-2" name="dates" placeholder="时间">
                      </div> 
                      <div class="form-group">
                        <a class="btn btn-sm btn-secondary" style="width:80px" href="javascript:querydata();"><i class="mdi mdi-magnify"></i></a>
                      </div>
                    </form>
                  </div>
                  <div class="table-responsive">
                    <table id="detail"
                     class="table table-hover"
                     data-classes="table-no-bordered table-hover"
                     data-toggle="table"
                     data-show-refresh="true"
                     data-show-columns="true"
                     data-show-pagination-switch="true"
                     data-pagination="true" 
                     data-page-size="30" 
                     data-page-list="[10, 25, 50, 100, ALL]" 
                     data-side-pagination="server" 
                     data-url="pvd/alipay/statements"
                     data-buttons-class=" btn-sm btn-secondary"
                     data-toolbar=".buttons-toolbar"
                     data-show-footer="true"
                     data-response-handler="handleData"
                     data-sort-name="time"
                     data-sort-order="desc">
                      <thead>
                        <th data-field="_id" data-footer-formatter="showTotalText" data-sortable="true">订单号</th>
                        <th data-field="alipay_account.name" data-visible="false" data-sortable="true">账号</th>
                        <th data-field="paidmoney" data-footer-formatter="showTotalMoney" data-sortable="true">毛收入</th>
                        <th data-field="net" data-footer-formatter="showTotalNet" data-sortable="true">净收入</th>
                        <th data-field="time" data-sort-order="desc" data-formatter="timestring"  data-sortable="true">时间</th>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <%- include partials/_footer.html %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/base.js"></script>
  <!-- End custom js for this page-->
  <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <!-- End custom js for this page-->
</body>
<script>
  var data;
  function handleData(res) {
    data=res;
    return res;
  }
  // function requestData(params) {
  //   if (!params.data.account) return alert('必须指定支付宝账号才能查询');
  //   accIntf('pvd/alipay/statements', params.data, (err, r)=>{
  //     params.success(r);
  //   });
  // }
  function showTotalText() {
    return "Total";
  }
  function showTotalMoney() {
    return data?data.totalmoney:undefined;
  }
  function showTotalNet() {
    return data?data.totalnet:undefined;
  }
  var urlparam=new URL(location.href).searchParams;
  $(()=>{
    $('input[name="account"]').val(urlparam.get('account'));
    var p_start=urlparam.get('start'), p_end=urlparam.get('end');
    var start, end;
    if (p_start) {  
      start=new Date(p_start);
      if (start=='Invalid Date') start=undefined;
    }
    if (p_end) {
      end=new Date(p_end);
      if (end=='Invalid Date') end=undefined;
    }
    $('input[name="dates"]').daterangepicker({startDate:start, endDate:end});
  });
  function querydata() {
    var allclear=true, querys={};
    $('#params input').each(function(idx, ele) {
      var je=$(ele), jv=je.val();
      if (jv=='') {
        if (ele.name!='account') return true;
        jv=urlparam.get('account');
        if (!jv) {
          alert('必须指定支付宝账号才能查询');
          allclear=false;
          return false;
        }
      }
      if (ele.name=='dates') {
        var drp=$('input[name="dates"]').data('daterangepicker');
        querys.startTime=drp.startDate._d;
        querys.endTime=drp.endDate._d;
      }
      else querys[ele.name]=jv.trim();
    });
    if (allclear) $('#detail').bootstrapTable('refresh', {query:querys});
  }
  function remove(appId) {
      accIntf('/pvd/alipay/removeAccount', {appId:appId}, err=>{
          if (err) return alert(err);
          getlist();
      });
  }
</script>
</html>
