<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->              
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2 username"></span>
          <span class="text-secondary text-small acl"></span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="merentry.html">
        <span class="menu-title">总览</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="withdraw.html">
        <span class="menu-title">提款</span>
        <i class="mdi mdi-cash menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="extrainfo.html">
        <span class="menu-title">联系人</span>
        <i class="mdi mdi-contact-mail menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="fromuserlist.html">
        <span class="menu-title">明细</span>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="adapter.html">
        <span class="menu-title">对接</span>
        <i class="mdi mdi-human-greeting menu-icon"></i>
      </a>
    </li>    
  </ul>
</nav>
